#square {
  height: 100px;
  width: 100px;
  background: red;
  border-color: black;
  border-style: solid;
  float: left;
}

#game {
  width:320px;
  height: 400px;
}

img {
  height: 100px;
  width: 100px;
}

#container {
width: 800px;
height: 700px;
position: relative;
background: #40C5D8;
}

#animate {
margin: 50px 0;
position: relative;
display: block;
color: #D240D8;
width: 0px;
height: 0px;
border-right:  100px solid transparent;
border-bottom: 70px  solid #D240D8;
border-left:   100px solid transparent;
-moz-transform:    rotate(35deg);
-webkit-transform: rotate(35deg);
-ms-transform:     rotate(35deg);
-o-transform:      rotate(35deg);
}
#animate:before {
border-bottom: 80px solid #D240D8;
border-left: 30px solid transparent;
border-right: 30px solid transparent;
position: absolute;
height: 0;
width: 0;
top: -45px;
left: -65px;
display: block;
content: '';
-webkit-transform: rotate(-35deg);
-moz-transform:    rotate(-35deg);
-ms-transform:     rotate(-35deg);
-o-transform:      rotate(-35deg);

}
#animate:after {
position: absolute;
display: block;
color: #D240D8;
top: 3px;
left: -105px;
width: 0px;
height: 0px;
border-right: 100px solid transparent;
border-bottom: 70px solid #D240D8;
border-left: 100px solid transparent;
-webkit-transform: rotate(-70deg);
-moz-transform:    rotate(-70deg);
-ms-transform:     rotate(-70deg);
-o-transform:      rotate(-70deg);
content: '';
}


h1{
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 80;
}

h3{
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bolder;
  font-size: 50;
}

body {
  background-color: black;
}
