#square {
  height: 100px;
  width: 100px;
  background: red;
  border-color: black;
  border-style: solid;
  float: left;
}

#game {
  width:320px;
  height: 400px;
}

img {
  height: 100px;
  width: 100px;
}
